<div class="container my-4">
    <div class="row">
        <h5 class="col-12 border-bottom">Các bài viết nổi bật</h5>
        <div id="Hightlights" class="bg-primary">
        </div>

    </div>

    <div class="row">
        <div class="col-lg-9 ml-auto my-2">
            {{!-- List các bài đăng --}}
            {{#each listPosts}}
            <div class="card shadow mb-4 rounded border-0">

                <div class="card-header border-0 bg-white" style="padding: 0 !important;">
                    <div class="container">
                        <div id="header" class="row">
                            <div class="col-md-9 font-weight-bold d-flex align-items-center pt-3 pb-3 pr-5 post-title-border-rounded"
                                style="background: #FF5D5D!important;">
                                {{idPost.postContent}}
                            </div>

                            <div class="col-md-3 ml-auto d-flex align-items-center">{{idPost.postDate}}</div>
                        </div>
                    </div>
                </div>

                <div class="card-body rounded">
                    <div class="container">
                        <div class="mx-4 my-2">
                            <div>
                                <img class="img-fluid img-responsive rounded-circle mr-3" src="{{idAccount.avatar}}"
                                    width="60">
                                <span class="mb-1 mr-2 font-weight-bold">{{idAccount.name}}</span>
                            </div>
                        </div>

                        <div class="row mt-4 mb-4">
                            <div class="col-lg-5">
                                <img src="{{image}}" class="img-fluid" width="300">
                            </div>
                            <div class="col-lg-7 align-self-center">
                                <div class="m-auto">
                                    <div class="row mt-3 mb-3">
                                        <div class="col-1"><i class="fas fa-address-card"></i></div>
                                        <div class="col-10 ellipsis">Loại: {{fullName}}</div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-1"><i class="fas fa-map-marked-alt"></i></div>
                                        <div class="col-10 ellipsis">Khu vực: {{area}}</div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-1"><i class="fas fa-star"></i></div>
                                        <div class="col-10 ellipsis">Đặc điểm riêng: {{idCharacteristics}}</div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-1"><i class="fas fa-align-left"></i></div>
                                        <div class="col-10 ellipsis">Mô tả: {{description}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="text-center">
                            <button type="button" class="btn btn-secondary">Xem thêm</button>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
            {{!-- //List các bài đăng --}}
        </div>

        {{!-- Thành viên tích cực --}}
        <div class="col-lg-3 ml-auto my-2 px-0 text-center border rounded shadow" style="height: fit-content;">
            <div class="py-3 bg-dblue text-white rounded-top">
                <h5 class="">Thành viên tích cực</h5>
            </div>
            <div class="listMember my-2">
                <div class="member d-flex justify-content-center my-3">
                    <div>
                        <img class="img-fluid img-responsive rounded-circle mr-2" src="/images/user.jpg" width="60">
                    </div>
                    <div class="my-2">
                        <h6 class="mb-1 mr-2">Nguyễn Văn A</h6>
                        <span>20 lượt tương tác</span>
                    </div>
                </div>

                <div class="member d-flex justify-content-center my-3">
                    <div>
                        <img class="img-fluid img-responsive rounded-circle mr-2" src="/images/user.jpg" width="60">
                    </div>
                    <div class="my-2">
                        <h6 class="mb-1 mr-2">Nguyễn Văn A</h6>
                        <span>20 lượt tương tác</span>
                    </div>
                </div>
                <div class="member d-flex justify-content-center my-3">
                    <div>
                        <img class="img-fluid img-responsive rounded-circle mr-2" src="/images/user.jpg" width="60">
                    </div>
                    <div class="my-2">
                        <h6 class="mb-1 mr-2">Nguyễn Văn A</h6>
                        <span>20 lượt tương tác</span>
                    </div>
                </div>
                <div class="member d-flex justify-content-center my-3">
                    <div>
                        <img class="img-fluid img-responsive rounded-circle mr-2" src="/images/user.jpg" width="60">
                    </div>
                    <div class="my-2">
                        <h6 class="mb-1 mr-2">Nguyễn Văn A</h6>
                        <span>20 lượt tương tác</span>
                    </div>
                </div>
                <div class="member d-flex justify-content-center my-3">
                    <div>
                        <img class="img-fluid img-responsive rounded-circle mr-2" src="/images/user.jpg" width="60">
                    </div>
                    <div class="my-2">
                        <h6 class="mb-1 mr-2">Nguyễn Văn A</h6>
                        <span>20 lượt tương tác</span>
                    </div>
                </div>
            </div>
        </div>
        {{!-- //Thành viên tích cực --}}
    </div>

</div>
{{#section 'js'}}
<script src="/js/custom.js"></script>
{{/section}}